/* ListItem.jsx */

.itemContainer {
    @apply w-full flex justify-between flex-col lg:flex-row lg:flex-nowrap my-16 px-2 py-5 lg:p-10 text-justify gap-10 lg:gap-0;
    @apply shadow-xl lg:shadow-none hover:shadow-2xl lg:bg-gray-100 hover:bg-gray-50;
    transition: all ease 0.2s;
    word-spacing: 0.001em;
}

.itemContainer:nth-child(2n) {
    @apply lg:flex-row-reverse
}

.itemContainer:nth-child(2n+1) div:first-child {
    @apply lg:mr-5
}

.descriptionContainer {
    @apply p-2 lg:p-0;
    @apply lg:pr-14;
    @apply lg:pl-10;
    @apply lg:w-[50%] flex flex-col gap-3 lg:gap-10
}

.info {
    @apply flex flex-col h-full justify-between
}

.previewContainer {
    @apply flex gap-4 lg:justify-center
}

.previewContainerMobileTech {
    @apply flex-col lg:flex-row lg:items-center flex-1
}

.previewContainerWebTech {
    @apply flex-col
}

.imageWrapperWeb {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/8;
}

.imageWrapperMobile {
    @apply flex lg:justify-center max-h-[420px] justify-center;
}

.subImagesContainer {
    @apply flex flex-wrap gap-2
}

.mobileSubImagesBorder {
    @apply border-t-2 lg:border-t-0 pt-2 lg:pt-0
}

.WebSubImagesBorder {
    @apply border-t-2 pt-2
}

.subImages {
    @apply cursor-pointer border-2 max-h-[40px] max-w-[40px];
    padding: 1px
}

.pickedSubImg {
    border: 2px solid var(--blue300);
}

.subImagesWebTech {
    @apply max-w-[60px] lg:max-w-[100px]
}

.subImagesMobileTech {
    @apply max-w-[40px] max-h-[50px] lg:max-h-[90px] lg:max-w-[50px]
}

/* Links.jsx */

.projectLinks {
    @apply justify-center gap-20;
    @apply text-[var(--blue200)]
}

.projectLink {
    @apply hover:bg-gray-100 border px-10 py-2 rounded-xl
}

/* ProjectFilter.jsx */

.filterContainer {
    @apply flex justify-center items-center gap-8 lg:gap-20;
    @apply mt-8 p-8
}

.filterItem {
    @apply w-32 border-b shadow-lg text-center;
    @apply hover:bg-[var(--blue50)];
    @apply px-5 py-3 lg:px-6 lg:py-3;
    @apply font-semibold text-xs lg:text-sm cursor-pointer
}

.pickedItem {
    @apply bg-[var(--blue100)] hover:bg-[var(--blue100)];
}