.projectIMG {
    background-image: url(/welcomeScreen/projectsIMG.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.aboutMeIMG {
    background-image: url(/welcomeScreen/aboutmeIMG.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transition: background-size 0.3s ease-in-out, height 0.3s ease-in-out, width 0.3s ease-in-out;
}

.container {
    @apply w-[50%] h-full;
    @apply flex justify-center items-center
}

.contentLink {
    @apply flex justify-center items-center;
    @apply text-gray-300 hover:text-black;
    @apply text-4xl h-[350px] hover:h-[400px] w-[550px] hover:w-[600px];
}