/* BreadCrumps.jsx */
.breadcrumps {
    @apply text-center lg:text-right
}

.breadcrumps li {
    display: inline-block;
    margin: 0 5px 0 5px;
    position: relative;
}

.breadcrumps li::after {
    content: "/";
    color: var(--dark-light);
    position: absolute;
    right: -7px;
}

.breadcrumps li:last-child::after {
    content: "";
}

.activeLink {
    text-decoration: underline;
    color: var(--blue700)
}

/*Footer.jsx  */

.footerContainer {
    @apply flex justify-center items-center h-20 gap-10;
    @apply bg-[var(--blue900)] text-[var(--light)]
}

.footerLink {
    @apply text-[var(--white)] hover:text-[var(--blue100)]
}

.scroller {
    @apply cursor-pointer fixed top-[92%] left-[90%] lg:left-[96%] opacity-0;
    @apply text-[var(--blue300)]
}

.scroller:hover {
    opacity: 1 !important;
}