.breadcrumps {
    color: #0d1d43;
    @apply text-center lg:text-right
}

.breadcrumps li {
    display: inline-block;
    margin: 0 5px 0 5px;
    position: relative;
}


.breadcrumps li::after {
    content: "/";
    color: #353535;
    position: absolute;
    right: -7px;
}


.breadcrumps li:last-child::after {
    content: "";
}

.activeLink {
    text-decoration: underline;
    color: #163072
}