.breadcrumps {
    padding: 10px;
}

.breadcrumps li {
    display: inline-block;
    margin: 0 4px 0 4px;
    color: #bdc3c7
}


.breadcrumps li::after {
    content: "/";
    color: #ecf0f1;
}


.breadcrumps li:last-child::after {
    content: "";
}

.activeLink {
    text-decoration: underline;
    color: #ecf0f1 !important;
}